.intro-header.big-img, .intro-header.big-img  .big-img-transition {
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  background-size: contain !important;
  -o-background-size: contain !important;
  background-color: lightgrey;
}

/* reduce katex font size from 1.21em */
.katex { font-size: 1.1em; }

/* scrolling code blocks */
.highlight td:first-child pre, .highlight pre {
  border-top-left-radius: 4px;
  border-top-right-radius: unset;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: unset;
  overflow: auto;
}

/* use DejaVu for code blocks to render on all devices*/
code{
  font-family: 'DejaVuSansMono', monospace;
}